body{
    background-color: bisque;
    width: 50%;
    margin: auto;
    /* margin: auto;
    border-style: solid;
    border-width: 18px;
    border-color: blanchedalmond; */
    /* border : bordure exterieur de l'element
    border: 3 valeurs: epaisseur, type de filet, couleur*/

    border: solid 5px orange;
}
header{
    background-color: brown;
    color: white;
    height: 150px;  /*hauteur*/
    padding: 20px;
}
main{
    padding: 20px;
}
footer{
    padding: 20px;
}